@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}


.navbar{
    display: flex;
    align-items: center;
    padding: 16px 34px;
    background: linear-gradient(270deg, #7743DB 31.64%, #5725E5 66.78%);
}

.logo a{
    text-decoration: none;
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 200px;
}

.nav-icons img{
    display: none;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li{
    list-style: none;
    margin-right: 73px;

}

.nav-links li a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.nav-links li:last-child{
    margin-right: 0;
}

header{
    /* fill: linear-gradient(224deg, #DFDFDF 22.67%, #ECECEC 86.23%); */
    background-image: url(../images/bcg.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.hero{
    padding: 148px 84px  43px  118px;
}
.hero-top{
    margin-bottom: 84px;
}
.hero-top, .hero-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-text  h1{
    /* font-family: Poppins; */
    font-size: 68px;
    font-style: italic;
    font-weight: 700;
    line-height: 74.12px;
    background: linear-gradient(268deg, #7743DB 46.2%, #5725E5 59.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.hero-text p{
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height:  28.34px;
    /* width: 608px;
    height: 88px; */
    margin-bottom: 32px;
}

.hero-text button{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 109%;
    /* width: 170px;
    height: 50px; */
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    background: linear-gradient(263deg, #7743DB 38.81%, #5725E5 70.24%);
}

.hero-img img{
    width: 677.61px;
    height: 437.417px;
}

.hero-bottom{
    display: flex;
    gap: 32px;
}



.hero-box p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 109%;
}

.hero-box:last-child{
    margin-right: 0;
}
.hero-box.box1{
    display: flex;
    width: 178px;
    height: 199px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-shrink: 0;
    border-radius: 25px;
    background: #5725E5;
}

.hero-box.box2{
    display: flex;
    width: 178px;
    height: 199px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    flex-shrink: 0;
    border-radius: 25px;
    background: #7743DB;
}


/* Mobile Devices */
@media (max-width: 480px) {
    /* .container{
        max-width: 90%;
        margin: 0 auto;
    } */
    /* header{
        position: relative;
    } */

    nav{
        position: relative;
    }
    .navbar{
        padding: 21px 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .logo a{
        font-size: 18px;
        margin-right: 0;
    }
    .hero{
        padding: 112px 26px  43px  26px;
    }
    .hero-top{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
    }

    

    .hero-text h1{
        /* max-width: 390px; */
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 109%;
        background: linear-gradient(268deg, #7743DB 46.2%, #5725E5 59.09%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 32px;
    }


    .hero-text p{
        text-align: center;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 109%; 
        margin-bottom: 32px;
        /* width: 332px; */
    }

    .hero-text button{
        /* width: 170px;
        height: 50px; */
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 25px;
        background: linear-gradient(263deg, #7743DB 38.81%, #5725E5 70.24%);
        margin-bottom: 72px;
    }

    .hero-img img{
        width: 352px;
        height: 256.511px;
        text-align: center;
        margin-bottom: 29px;    
    }
    .nav-icons img:first-child{
        display: block;
    }

   .nav-links {
    position: absolute;
    left: 40%;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 25px;
   } 
    

   .hidden{
    display: none;
    }
   
    .nav-links li{
        margin-right: 0;
       
        
    }
    .nav-links li a{
        color: #FFF;
        font-size: 24px;
        font-weight: 300;
        
        
    }

    .nav-icons{
        display: flex;
    }

    .nav-icons img{
        cursor: pointer;
        
    }

    .hero-bottom{
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-around; */

        display: flex;
        flex-wrap: wrap;
        
    }

    .hero-boxs1, .hero-boxs2{
        display: flex;
    }

    .hero-boxs2 .box1{
        order: 2;
    }

    .hero-boxs2 .box2{
        order: 1;
        margin-right: 20px;
    }

    .hero-box{
        margin-bottom: 20px;
    }

    
    
    .hero-box.box1{
        /* width: 160px;
        height: 180px; */
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        
    }

    .hero-boxs1 .hero-box.box1{
       margin-right: 20px;
    }
   
    .hero-boxs2 .hero-box.box1{
        margin-right: 0px;
        
    }

    

    .hero-box.box2{
        /* width: 160px;
        height: 180px; */
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        flex-shrink: 0;
        border-radius: 25px;
        background: #7743DB;
        
    }

    .hero-box.box2:first-child{
        margin-right: 0;
        
    }

    .fa-xmark{
        display: none;
    }

    
}
        
/* Low resolution Tablets and iPads */
/* @media (min-width: 481px) and (max-width: 767px) {  
} */
        
/* Tablets iPads (Portrait) */
/* @media (min-width: 768px) and (max-width: 1024px){  
} */
    
/* Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){    
} */
    
/* Big boi Monitors */
/* @media (min-width: 1281px) {  
} */